<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxzuo.dubbo.shop.dao.ScUserMapper">

    <resultMap id="BaseResultMap" type="com.maxzuo.dubbo.common.model.ScUser">
        <id column="id" property="id" javaType="int" jdbcType="INTEGER" />
        <result column="username" property="username" javaType="string" jdbcType="VARCHAR" />
        <result column="password" property="password" javaType="string" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        id, username, `password`
    </sql>

    <insert id="insert" parameterType="com.maxzuo.dubbo.common.model.ScUser">
        INSERT INTO sc_user
        (
            id, username, `password`
        )
        VALUES
        (
            #{id}, #{username}, #{password}
        )
    </insert>

    <select id="selectUserByPrimaryKey" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM sc_user
        WHERE id = #{id}
    </select>
</mapper>