<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <!--环境ID-->
        <environment id="development">
            <!--
                事务管理器配置：直接使用JDBC的提交和回滚设置，如果你正在使用 Spring + MyBatis，则没有必要配置事务管理器，
                因为 Spring 模块会使用自带的管理器来覆盖前面的配置。
            -->
            <transactionManager type="JDBC"/>
            <!--数据源-->
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mooc?useUnicode=true"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/ShopOrderInfoMapper.xml"/>
    </mappers>
</configuration>